<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Search counters</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/flatly/bootstrap.min.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="col-md6 col-md-offset3">
            <h3>Pixel logs search:</h3>
            <ul class="list-group">
                <li class="list-group-item"><a href="<%= config.web_ui.base_path %>/counters">Search counters</a></li>
                <li class="list-group-item"><a href="<%= config.web_ui.base_path %>/ledger">Search txids and download log files from ledger</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
